@import "../../styles/index.scss";

.skills-section {
  padding-top: 28px;
  padding-bottom: 14px;
  background-color: $whitesmoke;
  height: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  padding-top: 4rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 28px;
}

.skills-category {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  margin-left: 0;
}

.category-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-inline: 2rem;
  border-radius: 15px;
  box-shadow: $shadowColor;
}

.skill {
  text-align: center;
  margin: 15px;
  flex-wrap: wrap;
  gap: 10;
}

.skill-icon {
  width: 60px;
  height: 60px;
  &:hover {
    transform: scale(1.1);
  }
}

.skill-name {
  font-weight: 600;
  font-size: 1rem;
  color: #2d2e32;
}

@media (max-width: 1023px) {
  .skills-section {
    padding-top: 14px;
    padding-bottom: 0;
  }

  .skill-name {
    font-size: 0.75rem;
  }
  .skills-container {
    gap: 14px;
  }
  .skills-category {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .skills-container {
    margin-top: 10px;
  }
}
