@import "../../styles/index.scss";

.home {
  background-color: $mainColor;
  padding-top: 200px;
}

.container {
  margin: auto;
  width: 70%;
  padding: 0 2rem;

  .content {
    @extend %flex-center;
    justify-content: space-between;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
  }

  .hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .hero-text p {
    line-height: 1.6;
    margin-right: 25px;
    color: $textColor;
  }

  .hero-text span {
    margin-top: 25px;
  }

  .social-button i {
    background-color: transparent;
    font-size: 1rem;
    color: $whitesmoke;
    padding-right: 5px;
    transform: translateY(1px);
  }

  .link a {
    display: inline-block;
    color: $whitesmoke;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-right: 7px;
    margin-bottom: 10px;
    transition: all 0.2s;
    background-color: $textColor;
  }

  .link a:hover {
    opacity: 80%;
  }

  .hello-img {
    width: 50px;
    display: inline-block;
    margin-left: 10px;
  }

  .hero-img {
    border-radius: 50%;
    position: relative;
    width: 20rem;
    height: 20rem;
    animation: animimg 4s ease-in-out infinite;
  }

  .hero-mouse {
    margin-top: 350px;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
  }

  .mouse-icon {
    width: 25px;
    height: 45px;
    border-radius: 15px;
    position: relative;
    border: 2px solid $textColor;
    text-align: center;

    span {
      width: 3px;
      height: 8px;
      margin: 2px auto 0;
      display: block;
      background: $textColor;
      border-radius: 5px;
      -webkit-animation: 1.2s ease infinite wheel-up-down;
      animation: 1.2s ease infinite wheel-up-down;
    }
  }

  @-webkit-keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }

  @keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }

  @keyframes animimg {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column-reverse;
    gap: 3rem;
    text-align: center;
  }
  .container .hero-text p {
    margin-right: 0px;
  }
  .container .hero-img {
    width: 12rem;
    height: 12rem;
  }
  .container {
    .hero-mouse {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 1.2rem;
  }
  .home {
    padding-top: 100px;
  }
  .container .hero-text h1 {
    font-size: 2.3rem;
  }

  @keyframes animimg {
    50% {
      transform: translateY(-0.5rem);
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;

    .hero-img {
      border-radius: 50%;
      position: relative;
      width: 10rem;
      height: 10rem;
      animation: animimg 4s ease-in-out infinite;
    }

    .hero-text h1 {
      font-size: 1.2rem;
      margin-top: -1.5rem;
    }

    .hero-text span {
      margin-top: 10px;
    }
    .social-button i {
      font-size: 0.7rem;
    }

    .link a {
      font-size: 0.7rem;
    }
    .hero-mouse {
      margin-top: 20px;
    }
  }
}
