@import "../../styles/index.scss";

.navbar {
  background-color: $mainColor;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  
}

.logo img {
  position: absolute;
  width: 80px;
  margin: 5px 30px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}
.navbar__ul {
  float: right;
  margin-right: 25px;
  
}
.navbar__li {
  display: inline-block;
  line-height: 90px;
  margin: 0 5px;
}

.navbar__a {
  padding: 7px 13px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s;
}

.navbar__li:hover {
  opacity: 50%;
}

#burger__icon {
  padding: 5px 7px;
  border-radius: 5px;
}
#burger__icon:hover {
  background-color: $hoverColorLinksFullScreen;
}

.navbar__burger__menu {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 900px) {
  .navbar__burger__menu {
    display: block;
  }

  .navbar__ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $whitesmoke;
    top: 80px;
    text-align: center;
  }

  .navbar__ul .navbar__li {
    display: block;
    transition: all 0.2s;
    &:hover {
      background-color: $hoverColorLinksMobileScreen;
      border-radius: 10px;
    }
  }

  .navbar__li .navbar__a {
    font-size: 20px;
    display: inline-block;
    width: 100%;
  }
  .navbar__li .navbar__a:hover {
    background: none;
    color: #2d2e32;
  }
  .logo img {
    width: 50px;
    margin: 15px 20px;
  }
}
